{% extends "base.html" %}
      {% block content %}
 <section class="bg-white dark:bg-gray-900">
        <h1 class="text-center text-3xl font-bold text-gray-900 dark:text-white">Social Media Post Generator Tool</h1>
        <br>
        <form action="/social" method="post">
            <div class="mb-4">
                <label for="topic" class="block mb-2 text-2xl font-bold text-center text-gray-900 dark:text-white">Topic</label>
                <input type="text" id="topic" name="topic" required class="block p-3 w-6/12 mx-auto text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter the topic">
            </div>
            <div class="mb-4">
                <label for="mood" class="block mb-2 text-2xl font-bold text-center text-gray-900 dark:text-white">Platform</label>
                <select id="mood" name="mood" required class="block p-3 w-6/12 mx-auto text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="">Select Platform</option>
                    <option value="facebook">Facebook</option>
                    <option value="twitter">Twitter</option>
                    <option value="instagram">Instagram</option>
                    <option value="linkedin">LinkedIn</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="title" class="block mb-2 text-2xl font-bold text-center text-gray-900 dark:text-white">Keywords</label>
                <input type="text" id="title" name="title" required class="block p-3 w-6/12 mx-auto text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter the keypoints">
            </div>
            <div class="text-center mt-4">
                <button type="submit" onclick="generateSocial()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Generate Post</button>
            </div>
        </form>
        <br>
{% if generated_post %}
<section id="output-section" class="bg-white dark:bg-gray-900">
    <label for="generated-social" class="block mb-2 text-2xl font-bold text-center text-gray-900 dark:text-white">Generated Post</label>
      <center><button onclick="copyToClipboard('generated-social')" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Copy</button></center>
    <textarea id="generated-social" name="generated-post" rows="12" class="block p-3 w-6/12 mx-auto text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>{{ generated_post }}</textarea>
</section>
{% endif %}
    
    <section class="bg-white dark:bg-gray-900">        
    </section>

          {% endblock %}
